src/main/java/testsoap/service/SoapMtService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="SoapMtServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:5555/adp?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="submitMessage">
<part name="parameters" element="tns:submitMessage"></part>
</message>
<message name="submitMessageResponse">
<part name="parameters" element="tns:submitMessageResponse"></part>
</message>
<message name="getMessageStatus">
<part name="parameters" element="tns:getMessageStatus"></part>
</message>
<message name="getMessageStatusResponse">
<part name="parameters" element="tns:getMessageStatusResponse"></part>
</message>
<message name="submitBulkMessage">
<part name="parameters" element="tns:submitBulkMessage"></part>
</message>
<message name="submitBulkMessageResponse">
<part name="parameters" element="tns:submitBulkMessageResponse"></part>
</message>
<message name="getMessageBulkStatus">
<part name="parameters" element="tns:getMessageBulkStatus"></part>
</message>
<message name="getMessageBulkStatusResponse">
<part name="parameters" element="tns:getMessageBulkStatusResponse"></part>
</message>
<portType name="SoapMtService">
<operation name="ping">
<input wsam:Action="http://service/SoapMtService/pingRequest" message="tns:ping"></input>
<output wsam:Action="http://service/SoapMtService/pingResponse" message="tns:pingResponse"></output>
</operation>
<operation name="submitMessage">
<input wsam:Action="http://service/SoapMtService/submitMessageRequest" message="tns:submitMessage"></input>
<output wsam:Action="http://service/SoapMtService/submitMessageResponse" message="tns:submitMessageResponse"></output>
</operation>
<operation name="getMessageStatus">
<input wsam:Action="http://service/SoapMtService/getMessageStatusRequest" message="tns:getMessageStatus"></input>
<output wsam:Action="http://service/SoapMtService/getMessageStatusResponse" message="tns:getMessageStatusResponse"></output>
</operation>
<operation name="submitBulkMessage">
<input wsam:Action="http://service/SoapMtService/submitBulkMessageRequest" message="tns:submitBulkMessage"></input>
<output wsam:Action="http://service/SoapMtService/submitBulkMessageResponse" message="tns:submitBulkMessageResponse"></output>
</operation>
<operation name="getMessageBulkStatus">
<input wsam:Action="http://service/SoapMtService/getMessageBulkStatusRequest" message="tns:getMessageBulkStatus"></input>
<output wsam:Action="http://service/SoapMtService/getMessageBulkStatusResponse" message="tns:getMessageBulkStatusResponse"></output>
</operation>
</portType>
<binding name="SoapMtServicePortBinding" type="tns:SoapMtService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="submitMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMessageStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="submitBulkMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMessageBulkStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SoapMtServiceService">
<port name="SoapMtServicePort" binding="tns:SoapMtServicePortBinding">
<soap:address location="http://localhost:5555/adp"></soap:address>
</port>
</service>
</definitions>